######################### KONFIGURATION zum Picons2VDR Skript ###########################
#
# Alle Einstellungen zum Skript werden hier eingetragen. Diese Datei (Picons2VDR.conf) am
# besten nach ~/etc kopieren. Das Skript findet sie dann automatisch.
# Dem Skript kann man auch mit '-c /etc/MyConf.conf' den Ort und den Namen mitgeben.
#
#########################################################################################

### Hinweis zum ausfüllen: Wenn Variablen ($) verwendet werden,
### dann in doppelten " ansonsten können einfache ' benutzt werden

# Skript automatisch aktualisieren. Auskommentieren falls nicht gewünscht
AUTO_UPDATE='true'

# 'LOGODIR' ist der Ordner, wo die Symlinks angelegt werden und das Skin (Z. B. SkinflatPlus)
# die Kanallogos lädt. Verzeichnis ohne abschließendes '/'
LOGODIR='/etc/vdr/flatpluslogos'  # Logos für VDR-Skin

# Logo konfiguraton. Array mit folgenden Werten:
# Größe Hintergrund, Größe des Logos, Logo-Typ, Hintergrund
#LOGO_CONF=(220x132 200x112 dark transparent)  # Vorgabe
# 220x132 190x102 dark blue
# 220x132 190x102 dark reflection
# 220x132 190x102 dark transparent
# 220x132 220x132 dark transparent
# 220x132 190x102 dark white
# 220x132 190x102 light black
# 220x132 190x102 light transparent

# Liste der Hintergründe und deren Größe
# 70x53: black, blue, reflection, transparent, white
# 100x60: black, blue, reflection, transparent, white
# 220x132: black, blue, reflection, transparent, white
# 256x256: grey, reflection, transparent
# 400x170: transparent
# 400x240: blue, transparent
# 800x450: transparent

# Wenn für einen Kanal srp und snp Logos gefunden werden, wird per Voreinstellung
# die 'snp' Version verwendet. 'srp' oder 'snp' verwenden
PREFERED_LOGO='snp'  # Vorgabe

# SVG-Konverter zum Wandeln der '*.svg' nach '*.png'
# 'rsvg' (librsvg2-bin) oder 'inkscape'
SVGCONVERTER='rsvg'

# Kanalliste vom VDR.
CHANNELSCONF='/etc/vdr/channels.conf'  # VDR's Kanalliste

# Logdatei. Wenn nicht gewünscht einfach auskommentiern
LOGFILE="/var/log/${SELF_NAME%.*}.log" # Log-Datei

# Verwendete Logos / Symlinks in einer History-Datei speichern
#LOGO_HIST='Logos.history'  # Mit Pfad oder ohne. Pfad vorgabe ist 'build-output' im git

# Maximale Größe der Logdatei. Bei überschreiten wird diese vom Skriot umbenannt in *.old
MAXLOGSIZE=$((1024*50))                # Log-Datei: Maximale Größe in Byte

# Festlegen, ob alle Zeichen des Sendernamens in kleinbuchstaben konvertiert werden sollen
# oder nur A-Z. Bei SkinflatPlus werden Logos nicht angezeigt, wenn Umlaute am Wortahfang
# klein sind. [sat.1 österreich.png -> Keine Anzeige] - [sat.1 Österreich.png -> OK]
# 'A-Z' (Nur A-Z umwandeln), 'ALL' (Alle Zeichen umwandeln) oder 'false' (Nicht umwandeln)
TOLOWER='A-Z'                          # Nur A-Z in kleinbuchstaben
